<h1>Your Album is Publish Now</h1>

<p>
  <strong>Hi <%= @greeting %></strong><br>
  Your Album is publish now,<br>
  Everyone can see your album without login, 
  If your are doing this,<br>
  Please ignore otherwise check your albums
</p>
